* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 600px;
    margin: 30px auto;
    background-color: bisque;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    line-height: 70px;
}

.timer {
    width: 150px;
    background-color: brown;
    font-size: 20px;
    font-weight: 700;
}

.card2 {
    margin-top: 100px;
    font-size: 20px;
    font-weight: 700;
}

.start {
    margin-top: 80px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;    
} 

.letters {
    margin-top: 100px;
     width: 20px;
    border: none;
    border-bottom: 2px solid;
    background-color: bisque; 
    font-size: 18px;
    text-align: center;
}


